/* @import url(https://fonts.googleapis.com/css?family=Pacifico); */

body {
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 30vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #D80027;
}

.header-title {
  font-family: Pacifico;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  padding: 24px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.main-logo {
  display: none;
}

@media screen and (max-width: 960px) {
  .main-logo {
    display: block;
    height: 150px;
    width: 150px;
  }

  .main-logo-wrapper {
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 720px) {
  .main-logo-wrapper {
    flex-direction: column;
    height: 300px;
  }

  .main-logo-wrapper .main-logo:first-child {
    display: none;
  }
}

